h1 {
    color: black;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-family: Boldose, sans-serif;
    border-radius: 5px;
    background-color: lightgreen;
    width: 100%;  
    box-sizing: border-box; 
    margin-left: 0;
    margin-right: 0; 
}

.button {
    display: inline-block;
    background-color: lightgreen;
    color: dark;
    padding: 5px 50px; 
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

body {
    background-color: cornsilk;
    font-family: Boldose, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;  
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    overflow: scroll;
}


p {
    font-family: Boldose, sans-serif;
    font-size: 16px; 
    color: black; 
    line-height: 1; 
    text-align: justify;
    margin: 5px 0; 
    padding: 10px;
}


ul {
    margin-right: auto; 
    margin-top: 0;
    padding-right: 8px;
    width: fit-content; 
}

li {
    font-size: 16px;
}

.sub-paragraph {
    font-weight: bold; 
    font-size: 18px; 
    margin-top: 20px;
}

.img {
    position: absolute;
    bottom: 80px;  
    left: 100px;    
    width: 500px;  
    height: auto;  
}

.img2{
    position: absolute;
    bottom: 80px;
    left: 900px;
    width: 500px;
    height: auto;
}

footer {
    color: black;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-family: Boldose, sans-serif;
    border-radius: 5px;
    background-color: lightgreen;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; 
}
