
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto; 
}
.button {
    display: inline-block;
    background-color: lightgreen;
    color: dark;
    padding: 5px 50px; 
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

main {
    flex-grow: 1;
    min-height: calc(100vh - 120px); 
    margin-bottom: 80px;
}


h1 {
    color: black;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-family: Boldose, sans-serif;
    border-radius: 5px;
    background-color: lightgreen;
    width: 100%;  
    box-sizing: border-box; 
    margin-left: 0;
    margin-right: 0; 
}



body {
    background-color: cornsilk;
    font-family: Boldose, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    overflow: scroll; 
}


p {
    font-family: Boldose, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1;
    text-align: justify;
    margin: 5px 0;
    padding: 10px;
}

ul {
    margin-right: auto;
    margin-top: 0;
    padding-right: 8px;
    width: fit-content;
}

ol{
    margin-right: auto;
    margin-top: 0;
    padding-right: 8px;
    width: fit-content;
}

li {
    font-size: 16px;
}

.sub-paragraph {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}


.img {
    float:left;
    bottom: 50px;
    margin-left: 150px;
    width: 500px;
    height: auto;
}

.img2 {
    float: right;
    bottom: 50px;
    margin-right: 150px;
    width: 500px;
    height: auto;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
}

.img3 {
    bottom: 70px;
    float: left;
    width: 350px;
    height: auto;
    margin-right: 20px;
}

.imag-parag {
    text-align: justify; 
    clear: both; 
}

.img4{
    display : block;
    margin-bottom: 2px;
    margin-top: 2px;
    float: right;
    width: auto;
    height: 200px;
    margin-left: 50px;
}


.img-parag-left{
    margin-right: 20px;
    text-align: justify; 
    clear: both; 
}

.img-parag-left-right {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 20px; 
}


.img-parag-left-right img {
    width: 250px; 
    height: auto; 
}


.img-parag-left-right p {
    flex: 1; 
    text-align: justify; 
}

.img-centrata-mijloc{
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 20px;
}